@import '../colors';

&.programManagement {
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 100px 20px;
    h1 {
      color: $printBlue;
      font-size: 40px;
    }
    p {
      margin-top: 0;
      color: #555;
    }
  }
  .jobCycle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    padding: 100px 10vw;
    box-sizing: border-box;

    @media(max-width:768px) {
      flex-direction: column;
      padding: 100px 20px;
    }

    .part1 {
      box-sizing: border-box;
      padding: 80px 90px;
      width: 50vw;
      border: 1px solid #efefef;
      background-color: #fff;
      height: 500px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

        .cycleimg{
          width: 50%;

            @media(max-width: 640px){
              width: 30%;
            }
        }

      h2 {
        color: $printBlue;
        font-size: 28px;
      }

      @media(max-width:768px) {
        width: 88vw;
        height: auto;
        margin-bottom: 20px;
        padding: 10px 20px;
      }
    }

    .part2 {
      box-sizing: border-box;
      padding: 80px 40px;

      @media(max-width: 768px) {
        padding: 30px 20px;
        height: auto;
        flex-direction: column;
      }

      border: 1px solid #efefef;
      background-color: #fff;
      height: 500px;
      margin-left: 5px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .date {
        width: 200px;
        width: 50%;

          @media(max-width: 640px){
            width: auto;
          }
        .day {
          display: flex;
          flex-direction: row;
          align-items: center;
          .label {
            text-orientation: upright;
            writing-mode: vertical-lr;
            color: $printBlue;
            font-size: 12px;
          }
          .number {
            color: $printBlue;
            font-weight: 700;
            font-size: 36px;
            box-sizing: border-box;
            padding-left: 5px;
          }
        }
        .blurb {
          color: #aaa;
          font-size: 15px;
          line-height: 22px;
          box-sizing: border-box;
          padding: 10px 40px 10px 20px;
          @media(max-width: 768px) {
            padding: 10px 20px;
          }
        }
      }
    }
  }
}
