&.hog {
  margin: 100px 0;
  width: 100%;
  overflow: hidden;
  @media(max-width:768px) {
    margin: 0;
  }
  img {
    width: 100%;
    height: auto;
    @media(max-width:768px) {
      width: 100%;
      margin-left: 0;
    }
  }
}
