@import '../colors';

&.tour {
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 100px 0;
  color: $mythicalOrange;
  @media(maxwidth: 768px) {
    padding: 20px 0;
  }
  .title {
    font-size: 34px;
    font-weight: 700;
    margin: 20px;

    @media(max-width: 640px){
      text-align: center;
    }
  }
  .description {
    max-width: 600px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;

    @media(max-width: 640px){
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  img.tourLogo {
    max-width: 500px;
    height: auto;

    @media(max-width: 640px){
      max-width: 90%;
    }
  }
  img.content {
    width: 70%;
    height: auto;
  }
}
