.workPage {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: calc(100vh - 80px);

  @media(max-width: 500px) {
    flex-direction: column;
  }

  a {
    width: 50%;
    height: calc(100vh - 80px);
    display: flex;
    background-image:url("../img/acme.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    color: #ccc;
    @media(max-width: 768px) {
      padding: 0 20px;
      text-align: center;
    }
    @media(max-width: 500px) {
      padding: 0 20px;
      text-align: center;
      width: 100%;
      height: calc(50vh - 40px);
    }
    &:first-child {
      background-image:url("../img/mythical-dudes.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    h1{
      font-size: 50px;
      font-weight: 700;
    }

    span {
      color: #fff;
      text-align: center;
      @media(max-width: 768px) {
        font-size: 20px;
      }
    }
  }
}
